cscope.*
*.swap
.*.sw[po]
.sw[po]
*~
*.orig
*.diff
*.patch
*.rej
*.[1-9].gz
*.o
*.[psS]o
*.pico
lib*.so*
*.a
*.so.*
*.d
!etc/*.d
.depend
*.gcno
*.gcda
TAGS
tags
GPATH
GRTAGS
GSYMS
GTAGS
\#*#
CVS
obj
!/.gitignore
.gitignore
.svn
*.worldstone.log
.worldstone*
usr.bin/mdocml/man/*.7
etc/passwd
etc/pwd.db
etc/spwd.db
releasetools/image
releasetools/kernel
releasetools/revision
share/zoneinfo/builddir
external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-no-thu
external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-pure-v
external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-return
external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-this-a
external/bsd/llvm/dist/clang/test/CodeGenCXX/microsoft-abi-vtables-multiple-nonvirtual-inheritance-vdtors
external/bsd/llvm/dist/llvm/test/Verifier/bitcast-address-space-through-constant-inttoptr-inside-gep-i
lib/libc/compat__*
.gdbinit
tests/
sys/arch/i386/stand/cdboot/machine
sys/arch/i386/stand/cdboot/x86
sys/arch/i386/stand/mbr/gptmbr/machine
sys/arch/i386/stand/mbr/gptmbr/x86
sys/arch/i386/stand/mbr/mbr/machine
sys/arch/i386/stand/mbr/mbr/x86
sys/arch/i386/stand/mbr/mbr_bootsel/machine
sys/arch/i386/stand/mbr/mbr_bootsel/x86
sys/arch/i386/stand/mbr/mbr_com0/machine
sys/arch/i386/stand/mbr/mbr_com0/x86
sys/arch/i386/stand/mbr/mbr_com0_9600/machine
sys/arch/i386/stand/mbr/mbr_com0_9600/x86
sys/arch/i386/stand/mbr/mbr_ext/machine
sys/arch/i386/stand/mbr/mbr_ext/x86
external/bsd/nvi/docs/info/vi.info
gnu/usr.bin/texinfo/info-stnd.info
gnu/usr.bin/texinfo/info.info
gnu/usr.bin/texinfo/texinfo.info
lib/libc/C.cat
lib/libc/Pig.cat
lib/libc/ca.cat
lib/libc/cs.cat
lib/libc/de.cat
lib/libc/es.cat
lib/libc/fi.cat
lib/libc/fr.cat
lib/libc/nl.cat
lib/libc/no.cat
lib/libc/pl.cat
lib/libc/sk.cat
lib/libc/sv.cat
params
